h1 {
    text-align: center;
    margin: 1 cm;
}

table {
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    background-color: black;
    color: white;
}
td{
    border: 1px solid black;
}