h1 {
    text-align: center;
    margin: 1cm;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 1cm;
    display: inline-block;
}

.alpha {
    border: 2px solid black;
    list-style-type: upper-alpha;
    font-weight: bold;
 }
